<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project: APGK</title>
        <meta name="author" content="[Tine Lazar]">
        <meta name="description" property="og:description" content="Program for managing a department.  ">
        <link rel="stylesheet" href="/components/projects.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#slideshow").load("/components/apgk_slideshow.html"); 
            });
        </script>
    </head>
    <body>
        <div class="content clearfix">
            <h1>Project: APGK</h1>
            <p>Program for automating workflows of mechanical engineers.</p>
            <br>
            <div id="slideshow"></div>
            <br>
            <p>Program for automation. Alleviates access to numerous files, automates workflows and notifications between departments.</p>
            <br>
            <ul class ="tags">
                <li>C#</li>
                <li>.Net</li>
                <li>MySQL</li>
                <li>WindowsForms</li>
            </ul>
            </div>
    </body>
</html>