<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="[Tine Lazar]">
        <link rel="stylesheet" href="../style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    </head>

    <body>
        <footer>
            <div class="copyright" id="copyright"><p>Tine Lazar <i class="far fa-copyright"></i> 2021</p></div>

            <div class="media-links" id="Contact">
                <ul>
                    <li><a target="_blank" href="https://www.linkedin.com/in/tine-lazar"><i class="fab fa-linkedin"></i></a></li>
                    <li><a target="_blank" href="mailto:tinelazar@gmail.com"><i class="far fa-envelope"></i></a></li>
                    <li><a target="_blank" href="https://github.com/tinelazar"><i class="fab fa-github"></i></a></li>
                    <li><a target="_blank" href="https://stackoverflow.com/users/10530378/uma"><i class="icon-stackoverflow"></i></a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>