<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="[Tine Lazar]">
        <link rel="stylesheet" href="../style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    </head>
    
    <body>
        <nav>
            <!-- <a href="index.html"><img src="images/logo.jpg"></a> -->
            <div class="nav-links" id="navLinks">
                <i class="fas fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a name="navlink" href="index.html">Home</a></li>
                    <li><a name="navlink" onclick="GoToAbout()">About</a></li>
                    <li><a name="navlink" onclick="GoToProjects()">Projects</a></li>
                    <li><a name="navlink" onclick="GoToResume()">Resume</a></li>
                    <li><a name="navlink" onclick="GoToContact()">Contact</a></li>
                </ul>
            </div>
            <i class="fas fa-bars" onclick="showMenu()"></i>
        </nav>

        <div class="text-box">
            <h1>Tine Lazar</h1>
            <p>Software engineer</p>
            <a class="hero-btn" href="mailto:tinelazar@gmail.com">Contact me</a>
        </div>
    </body>
</html>